* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make the container full width and center its content */
.invitation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

/* Wrap the image and give white background */
.image-wrapper {
    position: relative;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    /* Use Flexbox */
    overflow: hidden;
    /* Hide overflow if the image is larger */
}

/* Style the image */
.wedding-image {
    max-width: 550px;
    height: auto;
    object-fit: cover;
    object-position: center;
    /* margin-top: -5px; */
}

/* Wrap the video and give white background */
.media-wrapper {
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    /* Use Flexbox */

}

/* Style the video */
.wedding-video {
    max-width: 550px;
    height: auto;
    object-fit: contain;
    margin-top: -5px;
}

.nav-wrapper {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    /* This will center the whole nav-wrapper */
    z-index: 2;
    display: flex;
    gap: 20px;
}


.nav-button {
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.nav-button.active {
    background-color: #555555;
}

/* For smaller screens, you can add a media query */
@media only screen and (max-width: 768px) {

    .wedding-video,
    .wedding-image {
        width: 100%;
    }
}