/* Style for the form container */
.form-container {
  text-align: center;
  /* Center-align text within the container */
  margin: 30px auto;
  /* Margin to center the container horizontally and provide some spacing */
  width: 68%;
  /* Set the width of the container */
  border-radius: 10px;
  /* Rounded corners for the container */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow to the container */
  padding: 30px;
  /* Padding inside the container */
  background-color: #fff;
  /* Background color for the container */
}

.form-container h2 {
  margin: 0;
  /* Remove margin for the heading within the form container */
}

/* Style for form groups (individual form fields and labels) */
.form-group {
  display: flex;
  /* Use flexbox to align form elements horizontally */
  justify-content: space-between;
  /* Space between form elements */
  align-items: center;
  /* Center-align form elements vertically */
  margin-top: 20px;
  /* Top margin between form groups */
}

label {
  flex: 1;
  /* Allocate space for labels within the flex layout */
  text-align: right;
  /* Right-align labels */
  margin-right: 20px;
  /* Add right margin to labels for spacing */
  font-weight: bold;
  /* Make labels bold */
}

/* Style for various form input elements */
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  flex: 2;
  /* Allocate more space for input fields within the flex layout */
  padding: 10px;
  /* Padding inside input fields */
  border: 1px solid #ccc;
  /* Border around input fields */
  border-radius: 4px;
  /* Rounded corners for input fields */
}

/* Style for the form submission button */
.form-group button {
  background-color: #4CAF50;
  /* Background color for the button */
  color: white;
  /* Text color for the button */
  padding: 14px 20px;
  /* Padding inside the button */
  border: none;
  /* Remove button border */
  border-radius: 4px;
  /* Rounded corners for the button */
  cursor: pointer;
  /* Use a pointer cursor for the button */
  width: 100%;
  /* Make the button span the full width of its container */
}

.form-group button:hover {
  background-color: #45a049;
  /* Change button background color on hover */
}

/* Style for invalid input (e.g., input with validation errors) */
.invalid-input {
  border: 1px solid red;
  /* Red border for invalid input */
}

/* Style for error text associated with invalid input */
.error-text {
  color: red;
  /* Red color for error text */
  font-size: smaller;
  /* Reduce font size for error text */
  font-weight: 100;
  /* Lighter font weight for error text */
}