.simpleslide100 {
    position: absolute;
    display: flex;
    z-index: 0;
    justify-content: center;
    box-sizing: border-box;

}

.simpleslide100-item {
    box-sizing: border-box;
    position: absolute;
    background-position: center;
    background-size: cover;
  
}